body{
    background-color: aliceblue;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: green;
}
table{
    border: 3px solid white;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

th, td{
    border: 2px solid white;
    border-radius: 5px;
    border-collapse: collapse;
    background-color: aqua;
}
#rowtwo{
    height: 200px;
}
#main{
    width: 60%;
}
th:hover, td:hover{
    background-color: cornflowerblue;
    color:aliceblue;
    font-size: larger;
}

.divone{
    background-color: aquamarine;
    padding: 20px;
}
.divcontainer{
    position: relative;
    height: 100vh;
}
.centerdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    padding: 20px;
}
.pspan{
    color: red;
}

.city {
    background-color: darkseagreen;
    border-radius: 20px;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }