body{
    background-color: aliceblue;
    color: darkblue;
}
table{
    border: 3px solid white;
    border-radius: 10px;
    width: 100%;
}

th, td{
    border: 2px solid white;
    border-radius: 5px;
    border-collapse: collapse;
    background-color: aqua;
}
